@using ShopMarket.Core.Utilities
@model IEnumerable<ShopMarket.Core.ViewModels.ShopViewModels.ProductViewModels.ProductViewModel> 

<div class="col-lg-8 order-1 order-lg-2">
    <div class="offer-slider-wrapper">
        <div class="offer-slider-title">پیشنهاد شگفت انگیز</div>
        <div class="row">
            <div class="col-12 mb-1">
                <div class="swiper-container offer-slider">
                    <div class="swiper-wrapper">
                        @foreach (var product in Model)
                        {
                            <div class="swiper-slide">
                                <div class="row align-items-center pb-3">
                                    <div class="col-sm-6 col-12 order-2 order-sm-1">
                                        <div class="product-title">
                                            <a asp-controller="Product" asp-action="ShowProduct" asp-route-productId="@product.ProductId">
                                               @product.Title
                                            </a>
                                        </div>
                                        <div class="product-price">
                                            <del>@product.Price.ToString("N0") تومان</del>
                                            @(PriceCalculator.CalculateDiscountPrice(product.Price,product.Discount.Value).ToString("N0")) تومان
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 order-1 order-sm-2">
                                        <div class="offer-slide-content">
                                            <div class="product-thumbnail">
                                                <a asp-controller="Product" asp-action="ShowProduct" asp-route-productId="@product.ProductId">
                                                    <img src="@Directories.GetProductImage(product.MainImage,product.ProductId)"
                                                         alt="item">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pb-4">
            <div class="col-lg-8 mt-2 mb-4 mb-lg-0">
                <div class="offer-slider-thumbs-wrapper">
                    <div class="px-0 px-sm-5">
                        <div class="swiper-container offer-slider-thumbs">
                            <div class="swiper-wrapper">
                                @foreach (var product in Model)
                                {
                                    <div class="swiper-slide">
                                        <img src="@Directories.GetProductImage(product.MainImage,product.ProductId)" alt="item">
                                    </div>
                                }
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="offer-slider-button-next"><i class="far fa-chevron-left"></i></div>
                    <div class="offer-slider-button-prev"><i class="far fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>