@using ShopMarket.Core.Utilities
@model ShopMarket.Core.ViewModels.UserViewModels.UserViewModel

<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; left: 1026.75px; top: 0px;">
    <div class="sidebar-widget">
        <div class="profile-sidebar shadow-around">
            <div class="d-flex align-items-center">
                <div class="profile-avatar">
                    <img src="@Directories.GetUserImage(Model.UserAvatar)" alt="avatar">
                </div>
                <div class="profile-info">
                    <div class="d-block">
                        <h6><strong>@Model.FullName</strong></h6>
                    </div>
                    <div class="d-block">
                        <strong class="text-muted">@Model.PhoneNumber</strong>
                    </div>
                </div>
            </div>
            <div class="user-menu">
                <ul>
                    @if (!Model.IsEmailVerified)
                    {
                        <li>
                            <a href="" class="btn btn-primary text-light" id="verifyEmail @((string) ViewData["selected"] == "verifyemail" ? "active" : null)">
                                <i class="far fa-envelope"></i>
                                تایید ایمیل
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/userpanel/orders" class="@((string) ViewData["selected"] == "orders" ? "active" : null)">
                            <i class="far fa-clipboard-list-check"></i>
                            سفارش های من
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/likes" class="@((string) ViewData["selected"] == "likes" ? "active" : null)">
                            <i class="far fa-heart"></i>
                            لیست علاقمندی
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/comments" class="@((string) ViewData["selected"] == "comments" ? "active" : null)">
                            <i class="far fa-comment-alt-lines"></i>
                            نظرات
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/addresses" class="@((string) ViewData["selected"] == "addresses" ? "active" : null)">
                            <i class="far fa-map-marked"></i>
                            نشانی ها
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/recents" class="@((string) ViewData["selected"] == "recents" ? "active" : null)">
                            <i class="far fa-clock"></i>
                            بازدیدهای اخیر
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/edit" class="@((string) ViewData["selected"] == "edit" ? "active" : null)">
                            <i class="far fa-user-cog"></i>
                            اطلاعات حساب
                        </a>
                    </li>
                    <li>
                        <a href="/userpanel/change-password" class="@((string) ViewData["selected"] == "change-password" ? "active" : null)">
                            <i class="far fa-user-unlock"></i>
                            تغییر رمز عبور
                        </a>
                    </li>
                    <li>
                        <a asp-area="User" asp-controller="Account" asp-action="Logout">
                            <i class="far fa-sign-in-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 347px; height: 1042px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
</div>


