@page
@using ShopMarket.Core.Utilities
@using ShopMarket.Core.Utilities.Convertors
@model ShopMarket.Pages.Admin.Products.DeletedProductsModel
@{
    ViewData["Title"] = "مدیریت کالا ها";
    ViewData["page"] = "products";
    ViewData["sub-page"] = "deletedProducts";
}


@section Styles
{
    <style>
        .card-body img {
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" href="/admin-panel/vendors/sweetalert2/sweetalert2.min.css">
}

<div class="container card p-3">
    <div class="row">
        <div class="divider">
            <div class="divider-text">
                کالا ها
            </div>
        </div>
        <div class="card-body row ">
            @foreach (var product in Model.Products)
            {
                <div class="card col-4 border border-1 border-primary">
                    <a href="">
                        <img src="@(Directories.GetProductImage(product.MainImage, product.ProductId))" class="card-img-top" alt="product image">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">@product.Title</h3>
                        @{
                            var description = (product.Description.Length > 200) ? (product.Description.Substring(0, 200) + "......") : product.Description;
                        }
                        <p class="card-text">@Html.Raw(description)</p>
                        <p class="card-text "><small class="text-muted">@product.CreationDate.ToShamsi()</small></p>
                    </div>
                    <div class="card-footer">
                        <a asp-page-handler="reactivate" asp-route-id="@product.ProductId" class="btn btn-block btn-outline-success">فعال سازی</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>