@page
@using ShopMarket.Core.Utilities.Convertors
@using ShopMarket.Domain.ShopEntities.OrderEntities
@model ShopMarket.Pages.Admin.Orders.IndexModel
@{
    ViewData["Title"] = "مدیریت سفارشات";
    ViewData["page"] = "users";
    ViewData["sub-page"] = "activeUsers";
}


<section class="section">
    <div class="card">
        <div class="card-header">
            لیست سفارشات
        </div>
        <div class="card-body">
            <table class="table table-striped" id="ordersTable">
                <thead>
                    <tr>
                        <th>شماره سفارش</th>
                        <th>تخفیف سفارش</th>
                        <th>قیمت نهایی</th>
                        <th>وضعیت</th>
                        <th>تاریخ ایجاد</th>
                        <th>کد پیگیری</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@((order.Discount ?? 0).ToString("N0"))</td>
                            <td>@(order.FinalPrice.ToString("N0"))</td>
                            <td>
                                <span class="badge @(order.OrderStatus != EOrderStatus.NotPaid ? "bg-success" : "bg-danger")">@(order.OrderStatus.ToString())</span>
                            </td>
                            <td>@order.CreationDate.ToShamsi()</td>
                            <td>@(order.RefId??0)</td>
                            <td>
                                <a asp-page="Details" asp-route-id="@order.OrderId" class="btn btn-sm btn-outline-dark">جزئیات</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

@section Scripts
{
    <script src="/admin-panel/vendors/simple-datatables/simple-datatables.js"></script>

    <script>

        // Simple Datatable
        let table1 = document.querySelector('#ordersTable');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
}
